
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

<div class="jumbotron">
    <h1>Upload and share photos from our wedding!</h1>
    <p class="lead">The photos uploaded will be used to create a wedding collage!</p>
</div>