
@{
    ViewBag.Title = "RSVP";
}

<h2>RSVP</h2>

<div class="jumbotron">
    <h1>RSVP for our wedding!</h1>
    <p class="lead">Please let us know if you can make it by filling out the information below!</p>
</div>